<html lang="en">
  {{! this is the main.handlebars file }}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Tech Blog</title>
    <link rel="stylesheet" href="../../public/css/style.css" />
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>
          <a href="/">home</a>
        </h1>
        <nav>
          {{! this is an if statement that checks if the user is logged in }}
          {{#if loggedIn}}
            <a href="/dashboard">dashboard</a>
            <button id="logout" class="btn-no-style logout">logout</button>
          {{else}}
            <a href="/login">login</a>
          {{/if}}
        </nav>
      </header>
      <div class="site-row">
        <div class="site-name">
          <h1>The Tech Blog</h1>
        </div>
      </div>
      <main>
        {{! this is the body that is passed in from the controller }}
        {{{body}}}
      </main>
    </div>
    {{#if loggedIn}}
      <script src="../../public/js/logout.js"></script>
    {{/if}}
  </body>
</html>