<div class="about-div">
    <h1 class="about-title">About Bibliomania:</h1>
    <p class="about-text">Bibliomania is a book search engine that suggests new books to you. You can also create an account to save books to your personal library.</p>
</div>