{{> post-info post}}
{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>
  <div>
    <button type="submit">Add comment</button>
  </div>
</form>
{{/if}}
{{> comments post.comments}}
{{#if loggedIn}}
<script src="../public/js/comment.js"></script>
{{/if}}