<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bibliomania</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <header>
        <a href="#" class="logo">Bibliomania</a>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Sign Up</a></li>
            <li><a href="#">Login</a></li>
        </ul>
    </header>
    <section>
        <img src="./assets/images/starrybackground.png" id="stars">
        <h2 id="text">bibliomania</h2>
        <img src="./assets/images/mountainLeft.png" id="mountainL">
        <img src="./assets/images/mountainRight.png" id="mountainR">
    </section>
</body>
</html>