<div class="container" id="container">
  <div class="form-container sign-up-container signup-form">
    <form action="#">
      <h1>Create your Account</h1>
      <input class="input-signup" type="text" placeholder="Name" id="name-signup" />
      <input class="input-signup" type="email" placeholder="Email" id="email-signup" />
      <input class="input-signup" type="password" placeholder="Password" id="password-signup" />
      <button>Sign Up</button>
    </form>
  </div>
  <div class="form-container sign-in-container login-form">
    <form action="#">
      <h1>Sign in to Bibliomania</h1>
      <input class="input-signup" type="email" placeholder="Email" id="email-login"/>
      <input class= "input-signup" type="password" placeholder="Password" id="password-login" />
      <a href="#">Forgot your password?</a>
      <button id="signIn">Sign In</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Welcome Back!</h1>
        <p>Please login to continue your journey</p>
        <button class="ghost" id="signIn">Sign In</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Welcome to Bibliomania!</h1>
        <p>Sign up and start your journey</p>
        <button class="ghost" id="signUp">Sign Up</button>
      </div>
    </div>
  </div>
</div>
<script src="./js/signup.js"></script>
