    <body class="body-class">
      <div class="videoDiv">
        <img
          class="image-class"
          src="https://images.unsplash.com/photo-1605559424843-9e4c228bf1c2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGNhcnN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
        />
      </div>

      <div class="kapsayici">
        <input type="radio" name="radio" id="likeInput" />
        <label for="likeInput" class="likeLabel">
          <img
            draggable="false"
            src="https://i.hizliresim.com/seigsy3.png"
            class="like"
          />
        </label>
        <input type="radio" name="radio" id="dislikeInput" />
        <label for="dislikeInput" class="dislikeLabel">
          <img
            draggable="false"
            src="https://i.hizliresim.com/l3xxttm.png"
            class="dislike"
          />
        </label>
      </div>
    </body>

    <style>
      /* ###################### this is the slider */
.body-class {
	background: #322f74;
	user-select: none;
<<<<<<< HEAD
	
=======
	background-image: url('../images/library.jpg'); 
>>>>>>> 0c1a37924ea08e1332ead32514502d4a54411859
	opacity: 0.9;
}

label {
	filter: grayscale(100%);
}

#likeInput:checked+.likeLabel {
	filter: grayscale(0%);
}

#dislikeInput:checked+.dislikeLabel {
	filter: grayscale(0%);
}

/* input{
        display:none;
      } */
img {
	width: 100px;
}

label {
	width: 100px;
	display: flex;
	text-align: center;
	justify-content: center;
	margin: 0px 25px;
	padding: 20px;
	border-radius: 50%;
	cursor: pointer;
}

.kapsayici {
	margin: auto;
	display: flex;
	text-align: center;
	justify-content: center;
	background-color: #333;
	width: 380px;
	border-radius: 100px;
	position: fixed;  
	left: 0px;
	right: 0px;
	bottom: 70px;
}

section img {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
	
.videoDiv {
	opacity: inherit;
}

.library {
  display: none;
    </style>