<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <body class="body-class">
      <div class="videoDiv">
        <img
          class="image-class"
          src="https://images.unsplash.com/photo-1605559424843-9e4c228bf1c2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGNhcnN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
        />
      </div>

      <div class="kapsayici">
        <input type="radio" name="radio" id="likeInput" />
        <label for="likeInput" class="likeLabel">
          <img
            draggable="false"
            src="https://i.hizliresim.com/seigsy3.png"
            class="like"
          />
        </label>
        <input type="radio" name="radio" id="dislikeInput" />
        <label for="dislikeInput" class="dislikeLabel">
          <img
            draggable="false"
            src="https://i.hizliresim.com/l3xxttm.png"
            class="dislike"
          />
        </label>
      </div>
    </body>
  </body>
</html>
